@import './src/utils/variables';


@font-face {
    font-family: "CrimsomTextItalic";
    font-style: italic;
        font-weight: 400;
        font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlpogwHKFkZgtmSR3NB0oRJfajhRK_Y.woff2) format('woff2');
    
}

.quote {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;

    .quote-icon{
        color: $secondary-main;
        font-size: 25px;
        line-height: 1;
        position: absolute;
        top: 4px;
        left: 2px;
    }

    .quote-text{
        font-family: 'CrimsomTextItalic', serif;
        color: $text-secondary;
        font-style: italic;
        line-height: 1.7;
            font-size: 16;
    }

    .quote-author{
        margin-top: 7px;
        width: fit-content;
        padding-right: 10px;
        
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: 50%;
            width: 90px;
            height: 1px;
            background: $secondary-main;
            left: 100%;
            opacity: .8;
        }
    }
}