//color templates

$primary-main: #111111;
$primary-contrastText: #FFFFFF;
$primary-light: #999999;
        
$secondary-main:#e57373;
$secondary-contrastText: #FFFFFF;

$text-secondary: #888888;
$text-primary: #313131;
$text-hint: #E57373;
