@import './src/utils/variables';

.article-page-content{
    .article-head{
        margin-bottom: 26px;

        .title{
            margin-bottom: 6px;
        }
    }

    .desc{
        margin-top: 26px;
        margin-bottom: 20px;
    }
}