@import './src/utils/variables';

@keyframes loadingrotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

[class^="article-list-item"] {
    box-sizing: border-box;

    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;

    transition: all 1s ease-in-out;
    animation-name: appear;
    animation-duration: 1s;


    .article-link-img {
        display: block;
        transition: opacity .3s;
        background-color: #fff;

        img {
            display: block;
            aspect-ratio: 0.75/1;
            object-fit: cover;
        }

        &:hover {
            opacity: 0.85;
        }
    }
    
    .action-links {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .categories {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        >:not(:first-child)>.category-name {
            position: relative;
            margin-left: 26px;

            &::before {
                content: "";
                display: inline-block;
                border: 1px solid;
                font-size: 12px;
                position: absolute;
                top: 50%;
                left: -15px;
                margin-top: -3px;
                width: 3px;
                height: 3px;
                transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                box-sizing: unset;
                -webkit-box-sizing: unset;
                opacity: .65;
            }
        }
        
    }

    a {
        text-decoration: none;
    }
}

.article-list-item{

    .article-head{
        position: relative;

        margin-top: 28px;
        margin-bottom: 20px;
        padding-bottom: 15px;

        .title{
            display: block;
            margin-top: 12px;
            margin-bottom: 10px;
        }

        &::after{
            content: "";
            display: block;
            width: 60px;
            height: 1px;
            background: $secondary-main;

            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    .action-links-wrapper{
        margin-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;

        .action-links{
            padding: 0 10px;
            position: relative;
            z-index: 5;
            background: #fff;
        }
        
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            height: 1px;
            background: #dedede;
            background-color: #eeeeee;
            display: block;
            top: 49%;
            z-index: 1;
        }

    }

}

.article-list-item-extended {
    .article-head {
        margin-bottom: 26px;

        .title {
            display: block;
            margin-top: 11px;
            margin-bottom: 6px;
        }
    }

    .text-content{
        margin: 26px 0px 30px;
        .short-desc{
            margin-bottom: 15px;
        }
        .more-link{
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
    }

    .meta-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 15px 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;

        .details {
            .detail-icon{
                margin-right: 5px;
                display: inline-block;
                margin-bottom: -2px;
            }

        }
    }
}

.loading-circle-active{
    animation-name: loadingrotate;
    -webkit-animation-name: loadingrotate;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

@media (min-width: 970px) {
    .article-list-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}