@import './src/utils/variables';

.comment-form{
    padding: 36px 0 40px;

    .comment-form-comment, .comment-form-user{
        .MuiTextField-root{
                .MuiOutlinedInput-root{
                    border: 1px solid #eeeeee;
                    font-size: 14px;
                    line-height: 20px;
                    color: $text-primary;

                    &.Mui-focused {
                        .MuiOutlinedInput-notchedOutline {
                            border-width: 1px;
                        }
                    }

                    &.Mui-error{
                        .MuiOutlinedInput-notchedOutline{
                            border-color: $text-hint;
                        }
                    }

                    .MuiOutlinedInput-notchedOutline {
                        padding: 0 12px;
                    }
                }
                .MuiInputLabel-root{
                    font-size: 14px;
                    &.Mui-focused, &.MuiInputLabel-shrink {
                        transform: translate(20px, -7px) scale(0.75);
                    }
                    &.Mui-error{
                        color: $text-hint;
                    }
                }
        }
    }
    .comment-form-comment {
        .MuiTextField-root{
                .MuiOutlinedInput-root{
                    padding: 15px 20px;
                }
                .MuiInputLabel-root{
                    transform: translate(20px, 15px) scale(1);
                }
        }
    }
    .comment-form-user {
        .MuiTextField-root{
                .MuiOutlinedInput-root{
                    .MuiOutlinedInput-input{
                        padding: 12px 20px;
                    }
                    
                }
                .MuiInputLabel-root{
                    transform: translate(20px, 12px) scale(1);
                }
        }
    }

    .comment-form-user{
        margin-top: 28px;
        margin-bottom: 28px;

        display: flex;
        flex-wrap: wrap;
        row-gap: 28px;
        column-gap: 15px;

        .user-field {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .comment-form-btn-submit{
        margin-top: 15px;

    }
}

@media (min-width: 970px) {
    .comment-form {
        .comment-form-user {
            .user-field {
                    flex: 1 1 auto;
                    max-width: none;
                }
        }
    }
}